body {
	font: 1em/150% Arial, Helvetica, sans-serif;
}

header {
	background:#09c;
}

main {
	width:600px;
	background:#fff;
	float:left;
}

aside {
	width:360px;
	float:right;
	background:#0c6;
}

footer {
	clear:both;
	}
	
section {
	width:960px;
	margin: 20px auto;
}
	
main {
	background-color:#06c;
}

aside {
	background-color:#fcf;
}

footer {
	background-color:#fc3;
}



@media screen and (max-width:360px) {
	section {width:90%;}
	header {height:50px;}
	main {height:50px}
	aside {display:none;}
	footer {height:50px}
}
 
@media screen and (max-width:768px) {
	section {width:90%;}
	header {height:50px}
	main {width:100%; float:none;}
	aside {width:auto; float:none;}
	footer {height:50px}
}

@media screen and (max-width:1279px) {
	section {width:90%;}
	header {height:50px}
	main {width:50%;}
	aside {width:30%;}
	footer {height:50px}
}